@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: "Segeo UI", Roboto, Helvetica, sans-serif;
    color: #37414d;
    font-size: 14px;
}

.formInputs{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

}

h3{
    text-transform: none;
}

.content{
    display: flex;
    flex-direction: row;
}

.picture{
    position: relative;
}


.logoSec{
    position: absolute;
    float: left;
    left: 0px;
    top: 0px;
    display: flex;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.icon{
    width: 2em;
    height: auto;
}

.formComplete{
    display: flex;
}

button{
    background-color:rgb(28, 89, 54);
    border-radius: 6px;
    border-style: none;
    color: white;
    font-size: 16px;
}
